name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write

    steps:
      - name: Generate snake animation
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: harshitSingh1
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=FF6200&color_dots[0]=e2e8f0&color_dots[1]=c4b5fd&color_dots[2]=a78bfa&color_dots[3]=7c3aed&color_dots[4]=5b21b6
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=FF6200

      - name: Push snake to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
